:root {
	--light-white: #fdfcf0;
	--light-green: #455732;
	--dark-black: #000000;
	--dark-red: #ff6666;
	--wars-yellow: #ffe81f;
}

body {
	font-family: 'Audiowide', cursive;
	background-color: #000000;
}

/* Title Structure */
.title-structure {
	font-size: 4rem;
	text-align: center;
}

/* Title Skins */
.title {
	color: var(--dark-black);
	text-shadow: -0.125rem 0.125rem 0 var(--wars-yellow), 0.125rem 0.125rem 0 var(--wars-yellow), 0.125rem -0.125rem 0 var(--wars-yellow), -0.125rem -0.125rem 0 var(--wars-yellow);
}

/* Container Structure */
.container {
	display: flex;
	flex-flow: row wrap;
}

/* Card Structure */
.card {
	flex: 1;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	margin: 1rem;
	border: 0.0625rem solid #ccc;
	border-radius: 0.625rem;
	box-shadow: 0 0.125rem 0.5rem #ffe81f;
	text-align: center;
}

.card__image {
	max-width: 12.5rem;
}

.card__text {
	font-size: 1.25rem;
}

.card__title {
	font-size: 2rem;
}

/* Card Skins */
.card--light {
	background-color: var(--light-white);
	color: var(--light-green);
}

.card--dark {
	background-color: var(--dark-black);
	color: var(--dark-red);
}

/* Media Queries */
@media screen and (min-width: 700px) {
	.title {
		font-size: 4.5rem;
	}

	.card__title {
		font-size: 2.125rem;
	}

	.card__text {
		font-size: 1.375rem;
	}
}

@media screen and (min-width: 1000px) {
	.title {
		font-size: 5rem;
	}

	.card__title {
		font-size: 2.25rem;
	}

	.card__text {
		font-size: 1.5rem;
	}
}
